html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
  position: relative;
}

.top {
  // flex: 1 1 auto;
  // display: flex;
  // flex-direction: column;
  width: 400px;
  margin: 0px auto;
  padding: 20px;
}

.keyboard {
  position: fixed;
  bottom: 0;
  width: 100%;
}
