* {
  font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue,
    Helvetica, Arial, Lucida Grande, sans-serif;
}

body {
  position: relative;
  height: 100vh;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.top {
  flex: 1 1 auto;

  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0px auto;
  padding: 20px;
}
