// http://www.flashbynight.com/tutes/hangmanhtml5/example/man.png

.gallows {
  background-image: url("https://i.ibb.co/Q90qZnh/man.png");
  background-repeat: no-repeat;
  height: 200px;
  width: 75px;
  margin: 50px auto 0 auto;
}

.gallows--1 {
  background-position: -75px 0;
}

.gallows--2 {
  background-position: -150px 0;
}
.gallows--3 {
  background-position: -225px 0;
}
.gallows--4 {
  background-position: -300px 0;
}
.gallows--5 {
  background-position: -450px 0;
}
